/* CSS ZA NAVIGACIJU */

body{
    margin-bottom: 4.5em;
    font-family: 'BenchNine', sans-serif;
    letter-spacing: 1px;
    font-weight: 100;
    color: #806D53;
}

.urediprofil{
    background-color: rgba(255, 222, 173,1);
}

nav{
    height: 4em;
    background-color: rgba(25,25,20,0.9);
    border-top: 1.5px ridge rgba(255, 222, 173,1) !important;
}

ul.nav{
    margin-top: 1em;
}

nav ul li{
    padding: 0em;
    width: 12em;
    text-align: center;
    border-right: 1px ridge rgba(255, 222, 173,1);

}

.navbar-nav>li>a {
    line-height: 0.1em;
}

ul.nav>li>a{
    color: rgba(255, 222, 173,1);    
}

ul.nav>li>a:active{
    background-color: rgba(25,25,20,0);
    color: #8f7b5f; 
}


ul.nav>li>a:link{
    background-color: rgba(25,25,20,0);
}

ul.nav>li>a:visited{
    background-color: rgba(25,25,20,0);
}

ul.nav>li>a:hover{
    background-color: rgba(25,25,20,0);
    color: #8f7b5f; 
    font-weight: bold;
}



div.navbar-collapse{
        width: 72em;
        margin-left: auto !important;
        margin-right: auto !important;
}

.searchikona{
    border-right: none;
}

.searchikona>a{
    padding-top: 0.5em !important;
}






/*CSS ZA INDEX*/
.naslovna-slika{
    width:100%;
    height:48em;
}


#home,#onama,#opg,#registracija-odabir {
    min-height:48em;
    position:relative;
}

#onama{
    padding-top: 5em;
    background-color: #5d4037;
    color: white;
}

#opg{
    padding-top: 2em;
    background-color: #795548;
    color:#DCEDC8;

}


.naslovi{
    text-align: center;

}


.opg-naslov{
    padding-bottom: 1em;
}

.opgavatar{
    width: 25em;
    height: 25em;
    border-radius: 50%;
    border: 2px solid #806d53;
}


.forma-registracija>label{
    width: 12em;
    text-align: left;
    padding-bottom: 0.7em;
    color: #806d53;
}

.registracija-naslov{
    color: #806d53;
    padding-top: 1em;
}

.forma-registracija{
    font-size: 1.5em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}



   
input{          
    border-radius:5px;
    border: 1.5px solid #8f7b5f;
    width: 12.5em;
}

.forma-registracija>input, .forma-uredi>input{
    border:none;
    border-radius:0;
    border-bottom: 1.5px solid rgb(143, 123, 95);
    text-align:center;
    margin-bottom: 1em;
}

.forma-uredi>input{
    width: 16em;   
    background-color: transparent;
}



input:hover{
    border-color: #4f4435;
}


.btn-primary{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
    font-size: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}

.btn-primary:hover{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-primary:active{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-primary:link{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-primary:visited{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}



.btn-secondary:hover{
    border: none;
    border-radius: 0px;
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-secondary:active{
    border: none;
    border-radius: 0px;
    color: #8f7b5f;
    background-color: rgba(255,222,173,1);
}

.btn-secondary:link{
    border: none;
    border-radius: 0px;
    color: #8f7b5f;
    background-color: rgba(255,222,173,1);
}

.btn-secondary:visited{
    border: none;
    border-radius: 0px;
    color: #8f7b5f;
    background-color: rgba(255,222,173,1);
}

.btn-secondary{
    border: none;
    border-radius: 0px;
    color: #8f7b5f;
    background-color: rgba(255,222,173,1);
    font-size: 0.8em;
    padding-left: 0.5em;
    padding-right: 0.5em;
}



.proizvodi-button .btn-secondary{
    background-color: #675945;
    color: rgba(255,222,173,1);
}





.kratakopis-opg{
    height: 16em;
    padding-top: 1em;
    font-size: 1.3em;
}

.naziv-opg{
    font-size: 1.8em;
}




  

.modal-title{
    text-align: center;
}

.modal-body{
    text-align: center;
    height: 80px;
}

.modal-dialog{

    width: 320px;
}


.modal-body label{
width:4em;
text-align: left;
}

.forma-uredi{
    font-size: 1.5em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}


.forma-uredi>.btn-primary{
    margin-top: 1em;
    position: absolute;
    right: 24.5em;
}

    
::-webkit-input-placeholder {
   color: rgba(143,123,95,0.8);
    text-align: center;
}

:-moz-placeholder { /* Firefox 18- */
   color: rgba(143,123,95,0.8);
    text-align: center;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: rgba(143,123,95,0.8);
    text-align: center;
}

:-ms-input-placeholder {  
   color: rgba(143,123,95,0.8);
    text-align: center;
}


#onama{
    font-size: 17px;



}

h1{
    font-size: 50px;

}
.forma-uredi{
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}




.odaberi-avatar{
    font-size: 0.8em;
    margin-left: 23%;

}



.moj-proizvod{
    text-align:center;
    
}


.btn-proizvod{
    text-align: center;
    font-size:1.3em;
    margin-left: 44.5%;
    margin-top: 0.5em;
    margin-bottom: 1.5em;
}


.novi-button{
    font-size:1.5em;
    position: absolute;
    left: 36%;
}


.natrag-button{
    font-size:1.5em;
    position: absolute;
    right:36%;
    width: 139px
}



input#paypal, input#naziv, input#poruka{
    border: 1px solid #795548;
}



.pattern-lijevi{
    position: absolute;
    left: 0;
    height: 635px;
    margin-top: -20px;
    width:30%;
}


.pattern-desni{
    position: absolute;
    right: 0;
    height: 635px;
    margin-top: -20px;
    width:30%;
}


.uredi-pattern{
    margin-top:-76px;
    width: 30%;
    height:54em;
}


hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    bottom: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    bottom: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}


body, hr.fancy-line:after {
    background: #f4f4f4;
}


.forma-registracija>input{
    background-color: transparent;
}


.uredi-proizvod input{
    border: 1px solid #795548;
}

.naslovni-logo{
    position: absolute;
    margin-left: 38%;
    z-index: 2;
    top: 14em;
    width:21%;
    height: auto;
}

textarea{background-color: transparent}
