/* CSS ZA NAVIGACIJU */

body{
    margin-bottom: 4em;
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
    height: 4em;
    background-color: rgba(25,25,20,0.9);
    border-top: 1.5px ridge rgba(255, 222, 173,1) !important;
}

ul.nav{
    margin-top: 1em;
}

nav ul li{
    padding: 0em;
    width: 12em;
    text-align: center;
    border-right: 1px ridge rgba(255, 222, 173,1);

}

.navbar-nav>li>a {
    line-height: 0.1em;
}

ul.nav>li>a{
    color: navajowhite;    
}

ul.nav>li>a:active{
    background-color: rgba(25,25,20,0);
    color: #8f7b5f; 
}


ul.nav>li>a:link{
    background-color: rgba(25,25,20,0);
}

ul.nav>li>a:visited{
    background-color: rgba(25,25,20,0);
}

ul.nav>li>a:hover{
    background-color: rgba(25,25,20,0);
    color: #8f7b5f; 
    font-weight: bold;
}



div.navbar-collapse{
        width: 72em;
        margin-left: auto !important;
        margin-right: auto !important;
}

.searchikona{
    border-right: none;
}

.searchikona>a{
    padding-top: 0.5em !important;
}






/*CSS ZA INDEX*/
.naslovna-slika{
    width:100%;
    height:48em;
}


#home,#onama,#opg,#registracija-odabir {
    min-height:48em;
    position:relative;
}

#onama{
    padding-top: 5em;
    color: #806d53
}

#opg{
    padding-top: 2em;
    background-color: rgba(255, 222, 173,1);
}


.naslovi{
    text-align: center;
}


.opg-naslov{
    padding-bottom: 1em;
}

.opgavatar{
    width: 25em;
    height: 25em;
    border-radius: 50%;
    border: 2px solid #806d53;
}


.forma-registracija>label{
    width: 12em;
    text-align: left;
    padding-bottom: 0.7em;
    color: #806d53;
}

.registracija-naslov{
    color: #806d53;
    padding-top: 1em;
}

.forma-registracija{
    font-size: 1.5em;
    width: 25em;
    margin-left: auto;
    margin-right: auto;
}


.forma-registracija>.btn-primary{
    margin-top: 1em;
    position: absolute;
    right: 24.5em;
}


input{          
    border-radius:5px;
    border: 1.5px solid #8f7b5f;
    width: 12.5em;
}


input:hover{
    border-color: #4f4435;
}


.btn-primary{
    border-color: #8f7b5f;
    color: #8f7b5f;
    background-color: rgba(255,222,173,1);
    font-size: 0.8em;
    padding-left: 1.2em;
    padding-right: 1.2em;
}

.btn-primary:hover{
    border-color: rgba(255,222,173,1);
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-primary:link{
    border-color: rgba(255,222,173,1);
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}

.btn-primary:visited{
    border-color: rgba(255,222,173,1);
    color: rgba(255,222,173,1);
    background-color: #8f7b5f;
}


.kratakopis-opg{
    height: 22em;
    padding-top: 1em;
    font-size: 1.3em;
}

.naziv-opg{
    font-size: 1.8em;
}


/* Navigacija tamo gdje puca */
    @media (max-width : 1119px) {

        
nav ul li {
    width: 8em;
}


div.navbar-collapse {
    width: 48em;
    margin-left: auto !important;
    margin-right: auto !important;
}
        
        
        .navbar>.container{
            margin-left:0;
        }      
      
        
        
.hamburger{display: none;}