/* Navigacija tamo gdje puca */
    @media only screen and (max-width : 1119px) {

        
nav ul li {
    width: 8em;
}


div.navbar-collapse {
    width: 48em;
    margin-left: auto !important;
    margin-right: auto !important;
}
        
        
        .navbar>.container{
            margin-left:0;
        }      
      
        
        
    }