/* CSS ZA NAVIGACIJU */

nav{
    height: 4em;
    background-color: rgba(25,25,20,1);
    border-top: 2px ridge rgba(255, 222, 173,1) !important;
}

ul.nav{
    margin-top: 1em;
}

nav ul li{
    padding: 0em;
    width: 12em;
    text-align: center;
    border-right: 1px ridge rgba(255, 222, 173,1);

}

.navbar-nav>li>a {
    line-height: 0.1em;
}

ul.nav>li>a{
    color: navajowhite;    
}

ul.nav>li>a:active{
    background-color: rgba(25,25,20,1);
    color: #8f7b5f; 
    font-weight: bold;
}

ul.nav>li>a:visited{
    background-color: rgba(25,25,20,1);
}

ul.nav>li>a:hover{
    background-color: rgba(25,25,20,1);
    color: #8f7b5f; 
    font-weight: bold;
}



div.navbar-collapse{
        width: 72em;
        margin-left: auto !important;
        margin-right: auto !important;
}

.searchikona{
    border-right: none;
}

.searchikona>a{
    padding-top: 0.5em !important;
}






/*CSS ZA INDEX*/
.naslovna-slika{
    width:100%;
}
