body{
    margin-top: 5%;
    margin-bottom: 10%;
}

.pocetnaslika{
    width: 100%;
    
}

nav{
    position: fixed;
    top: 0;
    background-color: grey;
}

.navbar-default {
    background-color: rgba(255,255,255,0.8);
    border-color: rgba(255,255,255,1);
}

nav ul li{
    float:left;
}

.navbar-right{
    right: 0px;
}

body {

background-color: white;
}

.naslov {
text-align: center;
}

.tekst{
text-align: center;
font-family: Century Gothic;

font-size: 17px;
}

h1{

	font-family: Century Gothic;
	font-size: 60px;
}

