html,body{
height: 100%;
}

body{
    margin-top: 4%;
    margin-bottom: 10%;
    font-family: Century Gothic;
}

.pocetnaslika{
    width: 100%;
    
}

nav{
    position: fixed;
    top: 0;
    background-color: grey;
    font-weight: 300;
}

.navbar-default {
    background-color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

nav ul li{
    float:left;
}
nav ul li:hover{
    text-decoration: overline;
}

.navbar-right{
    right: 0px;
}



.naslovi{
    text-align: center;
    padding-top:8%;
}

#home,#onama,#projekti,#registracija {
    height:100%;
}

#onama,#registracija{
    background-color: #848484;
    color: white;
}


#registracija{padding-top:5%;
color: black;}

.tekst{
text-align: center;
font-family: Century Gothic;

font-size: 17px;
}

h1{

	font-family: Century Gothic;
	font-size: 60px;
}


#myCarousel img{
    margin-left: auto;
    margin-right: auto;
}

#registracija fieldset{font-size:1.3em;margin-left: 25%;font-weight: 200;}

#registracija input{width:38%; -moz-border-radius:6px; /* Firefox */
                    -webkit-border-radius: 6px; /* Safari, Chrome */
                    -khtml-border-radius: 6px; /* KHTML */
                    border-radius: 6px; /* CSS3 */}

label{width:17%; font-weight: 300;}


.btn-prvi{
    background-color: #4CAF50;
    color: #fff;
    border-color: #388E3C;
}

.btn-prvi:hover{
    background-color: #388E3C;
    border-color: #388E3C;
    color: white;
}


.naziv-projekt{
    display:none;
    height:100%;
    position:absolute;
    top: 0;
}

.opis-projekt{
    display: none;
    height: 100%;
    position:absolute;
    top: 2em;
}

.avatar-projekt:hover + .naziv-projekt{
   display:block;
    
}

.podnozje{

   font-family: Century Gothic;
   font-size: 15px;
   text-align: center;

}

.kopi{
    font-family: 'Abel', sans-serif;
    text-align: center;
}



