html,body{
height: 100%;
background-color: white;
}

body{
    margin-top: 4%;
    margin-bottom: 10%;
    font-family: Century Gothic;
}

.pocetnaslika{
    width: 100%;
}

nav{
    position: fixed;
    top: 0;
    background-color: grey;
    font-weight: 300;
}

.navbar-default {
    background-color: rgba(255,255,255,1);
    border-color: rgba(255,255,255,1);
}

nav ul li{
    float:left;
}
nav ul li:hover{
    text-decoration: overline;
}

.navbar-right{
    right: 0px;
}


#onama.naslovi{
    padding-top:10%;
}

.naslovi{
    text-align: center;
    padding-top:5%;
}

#home{margin-bottom:30px;}

#home,#onama,#projekti {
    height:48em;
}


#registracija {
    height:100%;
    padding-bottom:2%;
}

#onama,#registracija{
    background-color: #848484;
    color: white;
}



#registracija{padding-top:5%;
color: black;}

.tekst{
text-align: center;
font-family: Century Gothic;

font-size: 17px;
}

h1{

	font-family: Century Gothic;
	font-size: 60px;
}


#myCarousel img{
    margin-left: auto;
    margin-right: auto;
}

#registracija fieldset{font-size:1.3em;margin-left: 25%;font-weight: 200;}

#registracija input, input#amount{width:38%; -moz-border-radius:6px; /* Firefox */
                    -webkit-border-radius: 6px; /* Safari, Chrome */
                    -khtml-border-radius: 6px; /* KHTML */
                    border-radius: 6px; /* CSS3 */}

input#amount{margin-bottom: 15px;}

label{width:17%; font-weight: 300;}



.btn-prvi{
    background-color: #4CAF50;
    color: #fff;
    border-color: #388E3C;
}

.btn-prvi:hover{
    background-color: #388E3C;
    border-color: #388E3C;
    color: white;
}


.naziv-projekt{
    display: none;
    height:100%;
    position:absolute;
    top: 0;
    padding-left: 6px;
    font-size: 1.5em;
    padding-top:5px;
    font-weight: bold;
}

.opis-projekt{
    display: none;
    height: 100%;
    position:absolute;
    top: 2em;
    padding-top:2px;
    padding-left: 6px;
    font-weight: bold;
    padding-right: 6px;
}





.avatar-projekt:hover + .naziv-opis{
   display: block;
}




.avatar-projekt:hover + .naziv-projekt{
   display:block;
}



.podnozje{

   font-family: Century Gothic;
   font-size: 15px;
   text-align: center;

}

.kopi{
    font-family: 'Abel', sans-serif;
    text-align: center;
}



.bijelo{
    color:white;
}

#mojiprojekti{

    color:red;
    text-align: center;
    font-size: 25px;
    font-family: Century Gothic;
}


 
#promjena fieldset{font-size:1.3em;margin-left: 25%;font-weight: 200;}

#promjena input{width:38%; -moz-border-radius:6px; /* Firefox */
                    -webkit-border-radius: 6px; /* Safari, Chrome */
                    -khtml-border-radius: 6px; /* KHTML */
                    border-radius: 6px; /* CSS3 */}

.podaci{

    color:black;
    font-size: 30px;
}

.crno{
    color:black;
    font-family: Century Gothic;
}

label.crno{
    font-size:1.5em;
}

.forma-izmjena{
    margin-left: 10%;
}

.modal-title{

    font-family: Century Gothic;
    font-size: 25px;
    text-align: center;
}
.avatar-projekt:hover {opacity: 0.6;}

h1.bijelo{margin-top:-25px;}

#registracijaPoruka{
    text-align:center;
    color: white;
    font-weight: 300;
    text-shadow: 1px 1px 1px #000;
}



hr.fancy-line { 
    border: 0; 
    height: 1px;
    position: relative;
    margin: 0.5em 0; /* Keep other elements away from pseudo elements*/
}
hr.fancy-line:before {
    bottom: -0.5em;
    height: 1em;
}
hr.fancy-line:after {
    content:'';
    height: 0.5em;   /* half the height of :before */
    bottom: 1px;        /* height of hr*/
}

hr.fancy-line:before, hr.fancy-line:after {
    content: '';
    position: absolute;
    width: 100%;
}

hr.fancy-line, hr.fancy-line:before {
    background: -moz-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%, rgba(0,0,0,0) 75%);
    background: -webkit-gradient(radial, center center, 0px, center center, 75%, color-stop(0%,rgba(0,0,0,0.1)), color-stop(75%,rgba(0,0,0,0)));
    background: -webkit-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -o-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: -ms-radial-gradient(center, ellipse cover, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
    background: radial-gradient(ellipse at center, rgba(0,0,0,0.1) 0%,rgba(0,0,0,0) 75%);
}


body, hr.fancy-line:after {
    background: #f4f4f4;
}


.detalji-naziv, .detalji-kratakopis{text-align: center;}

.detalji-naziv{font-weight: bold; font-size:3em;}

.detalji-kratakopis{text-decoration: underline;}

.jumbotron{
    margin-left:auto;
    margin-right: auto;
    background-color: #848484;
    text-align: center;
}


.pretrazi{
    font-family: Century Gothic;
    font-size: 12px;
    text-align: center;
    font-weight: bold;
}

.kljucne{
    text-align: center;
}

#naziv, #kratakopis, #detaljanopis, #tag, #kategorija, #enddate{width:50%; -moz-border-radius:6px; /* Firefox */
                    -webkit-border-radius: 6px; /* Safari, Chrome */
                    -khtml-border-radius: 6px; /* KHTML */
                    border-radius: 6px; /* CSS3 */}