/* Navigacija tamo gdje puca */
nav ul li {
    width: 10em;
}


div.navbar-collapse {
    width: 60em;
    margin-left: auto !important;
    margin-right: auto !important;
}
        
        
        .navbar>.container{
            margin-left:5%;
        }      
      
        
