<ion-view view-title="Prijava">
  <ion-content class="padding">
  
<div class="list">

<form>
  <label class="item item-input item-floating-label">
    <span class="input-label">Email</span>
    <input type="email" placeholder="E-mail">
  </label>

  <label class="item item-input item-floating-label">
    <span class="input-label">Lozinka</span>
    <input type="password" placeholder="Lozinka">
  </label>

  <div class="row">
  <button class="button button-balanced button-block submit icon ion-ios-unlocked-outline" type="submit" >
  Prijava
  </button>
  </div>

</form>
</div>

<div class="card zuta">
<p class="alert">Korisnički podaci nisu točni!</p> 
</div>

<div class="card crvena">
<p class="alert">Došlo je do pogreške. Pokušajte ponovno!</p>
</div>




  </ion-content>
</ion-view>
