<ion-view view-title="Popis OPG-ova">
  <ion-content class="padding">
  

<ion-list >

<ion-item class="item item-text-wrap item-avatar-left prva">
  <img src="img/mim.jpg">

  <div class="row opg">
  <h2>Naziv OPG-a</h2>
  <button class="button icon ion-leaf button-balanced button-small ikonica">Prati</button>
  </div>
</ion-item>  


<ion-item class="item item-text-wrap item-avatar-left prva">
  <img src="img/mim.jpg">

  <div class="row opg">
  <h2>Naziv OPG-a</h2>
  <button class="button icon ion-leaf button-balanced button-small ikonica">Prati</button>
  </div>
</ion-item>  


</ion-list>


  </ion-content>
</ion-view>
