<ion-tabs class="tabs-icon-only  tabs-color-active-positive">

  <!-- Dashboard Tab -->
  
  <ion-tab icon-off="ion-log-in" icon-on="ion-log-in" href="#/tab/login" >
    <ion-nav-view name="tab-login"></ion-nav-view>
  </ion-tab>

  <ion-tab icon-off="ion-ios-list-outline" icon-on="ion-ios-list-outline" href="#/tab/opgovi">
    <ion-nav-view name="tab-opgovi"></ion-nav-view>
  </ion-tab>

  <ion-tab  icon-off="ion-leaf" icon-on="ion-leaf" href="#/tab/favoriti">
    <ion-nav-view name="tab-favoriti"></ion-nav-view>
  </ion-tab>


  <ion-tab icon-off="ion-log-out" icon-on="ion-log-out">
  </ion-tab>

  
</ion-tabs> 
